{% extends "base.html" %}

{% block head_title %}Add Restaurant | {{ block.super}}{% endblock head_title %}

{% block content %}
<h1>Add Restaurant</h1>

{% if form.errors.non_field_errors %}
{{ form.errors.non_field_errors }}
{% endif %}
<form method='POST'> {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Save</button>
</form>

{% endblock %}


<!-- <input type='text' name='name' placeholder="Your Title" required=required><br/>
    <input type='text' name='location' placeholder="Location"><br/>
    <input type='text' name='category' placeholder="Cateogry"><br/> -->