<div class='container'>
<div class='row text-center'>
<div clsas='col-sm-6 col-sm-offset-3'>
<h1>MuyPicky.com</h1>
<a href='{% url "home" %}'>Home</a>
<!-- <a href='{% url "about" %}'>About</a>
<a href='{% url "contact" %}'>Contact</a> -->
<a href='{% url "profiles:random" %}'>Random User</a>
{% if request.user.is_authenticated %}
<a href='{% url "restaurants:list" %}'>Restaurants</a>
<a href='{% url "menus:list" %}'>Menu Items</a>
<a href='{% url "logout" %}'>Logout</a>
{% else %}
<a href='{% url "register" %}'>Register</a>
<a href='{% url "login" %}'>Login</a>

{% endif %}
</div>
</div>

</div><hr/>
